[submodule "advanced-c-programming/lecture-source-code/advanced-cplusplus"]
	path = advanced-c-programming/lecture-source-code/advanced-cplusplus
	url = https://github.com/caveofprogramming/advanced-cplusplus.git
